<!-- build:remove -->
<%= t.include("partials/_top.html") %>
<!-- /build -->
<!-- build:css inline -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- /build -->

<div id="fof">
	<% json.Sheet1.forEach(function(t) { %>
    <% if (t.section == 'one') { %>
      <div class="bg-section">
        <div class="image"><img src="./assets/<%= t.section %>.png"></div> 
        <div class="header">
        	<div class="headline"><%= t.headline %></div>
        	<div class="deck"><%= t.deck %></div>
        </div>             
      </div>
    <% } %>
    <% if (t.section != 'one') { %>
      <div class="bg-section">
        <div class="image"><img src="./assets/<%= t.section %>.png"></div>
        <div class="header <%= t.section %>">
        <% if (t.headline) { %>	
        	<div class="headline"><%= t.headline %></div>
        <% } %>
        <% if (t.deck) { %>	
        	<div class="deck">
        		<%= t.deck %>
        			<% if (t.url != 'none') { %>	
	          	<br><a href="<%= t.url %>"><span>READ MORE</span></a>
	          <% } %>	
      		</div>
        <% } %>	          	
        </div>             
      </div>
    <% } %>
  <% }); %>
</div>

<!-- build:remove -->
<%= t.include("partials/_bottom.html") %>
<!-- /build -->

